@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #242424;
    padding: 20px;
  }
}
